{{!-- Login Form --}}
<form class="login-page">
  <div>
      {{!-- Email Input --}}
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  {{!-- Password Input --}}
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  {{!-- Submit BTN --}}
  <div>
    <button type="submit">Login</button>
  </div>
</form>

{{!-- Signup Form --}}
<form class="signup-input">
    {{!-- Input user --}}
  <div>
    <label for="user-signup">Username:</label>
    <input type="text" id="user-signup" />
  </div>
  {{!-- Input Email --}}
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  {{!-- Input password --}}
  <div>
    <label for="pass-signup">Password:</label>
    <input type="password" id="pass-signup" />
  </div>
  {{!-- Submit BTN --}}
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
